/* icon start */
i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../Images/icon.png") no-repeat;
}

.icon-arrow {
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background-position: -117px -213px;
}
.icon-check {
    position: relative;
    top: 6px;
    width: 23px;
    height: 23px;
    margin-left: 3px;
    background-position: -105px -313px;
}
.icon-time {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -162px -57px;
}
.icon-text {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -235px -57px;
}
.icon-pic {
    position: relative;
    top: 6px;
    left: 5px;
    width: 26px;
    height: 23px;
    background-position: -310px -57px;
}
.icon-weather {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -386px -57px;
}
.icon-bg {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -457px -57px;
}
.icon-video {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -532px -57px;
}
.icon-msg {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -606px -57px;
}
.icon-save {
    position: relative;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 23px;
    background-position: -1760px -57px;
}
.icon-pub {
    position: relative;
    top: 6px;
    left: 3px;
    width: 23px;
    height: 23px;
    background-position: -1830px -57px;
}
.icon-clear {
    position: relative;
    top: 6px;
    left: 7px;
    width: 22px;
    height: 23px;
    background-position: -1551px -57px;
}
.icon-view {
    position: relative;
    top: 6px;
    left: 4px;
    width: 26px;
    height: 23px;
    background-position: -1619px -57px;
}
/* menu部分 start */
.menu {
    width: 100%;
    height: 50px;
    padding-top: 6px;
    padding-left: 10px;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    background-color: #141f29;
}
.menu .menuGroup-1 {
    float: left;
}
.menu .menuGroup-2,
.menu .menuGroup-3{
    float: right;
}
.menu .menuGroup-1 div ,
.menu .menuGroup-2 div,
.menu .menuGroup-3 div{
    display: inline-block;
    width: 70px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #428bca;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.menu > div span {
    padding-left: 1px;
}

.menu .menuGroup-3 {
    margin-right: 22px;
}
.menu .menuGroup-2 {
    margin-right: 67px;
}
.menu .menuGroup-2 .menu-clear,
.menu .menuGroup-3 .menu-save {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.menu .menuGroup-2 .menu-view,
.menu .menuGroup-3 .menu-pub {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
