/* common start */
#permissManage .menuHide,
#permissManage .hide {
    display: none;
}
#permissManage .show {
    display: block;
}
/* common end */

/* main部分 start */

/* menu start */
#permissManage .menu {
    margin: 0.38rem 0 0.12rem 0.32rem;
    height: 0.5rem;
    overflow: hidden;
}
#permissManage .menu div[class^="menu"] {
    float: left;
    height: 0.48rem;
    padding: 0 0.2rem;
    line-height: 0.48rem;
    text-align: center;
    color: #428bca;
    border: 1px solid #428bca;
}
#permissManage .menu div[class^="menu"]:hover {
    color: #fff;
    background-color: #428bca;
}
#permissManage .menu div.menu-add{
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#permissManage .menu div.menu-edit {
    margin-right: 0.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#permissManage .menu div.menu-del {
    border-radius: 4px;
}
#permissManage .menu div.menu-del i {
    position: relative;
    top: 3px;
}
#permissManage .menu div.menu-del:hover {
    border-color: #f26455;
    background-color: #f26455;
}
#permissManage .menu div.menu-add:hover i{
    background-position: 0 -368px;
}
#permissManage .menu div.menu-edit:hover i {
    background-position: 0 -432px;
}
#permissManage .menu div.menu-del:hover i{
    background-position: 0 -56px;
}
/* menu end */

#permissManage .dataTabs {
    position: absolute;
    top: 1.06rem;
    left: .3rem;
    font-size: .2rem;
    color: #428bca;
    z-index: 1;
}
#permissManage .dataTabs > li {
    display: inline-block;
    margin-right: .2rem;
    padding: .05rem;
}
#permissManage .dataTabs > li.is-active {

    color: #fff;
    background-color: #428bca;
}



/* euqipTable start */
#permissManage .dataTable{
    position: relative;
    float: left;
    margin: 0.56rem 0.31rem 0.15rem ;
}

#permissManage .allEquip {
    margin-left: 0.04rem;
    margin-right: 0.05rem;
}
#permissManage .h4 {
    position: absolute;
    top: .1rem;
    left: .08rem;
    z-index: 1;
    font-weight: normal;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#permissManage .tabCtrl {
    width:100%;
}
#permissManage .tabCtrl > div {
    position: relative;
    bottom: -1px;
    float: left;
    height: .37rem;
    padding: 0 0.1rem;
    line-height: .37rem;
    text-align: center;
    color: #428bca;
    border: 1px solid #ccc;
}
#permissManage .tabCtrl .borderR-none {
    border-right: none;
}
#permissManage .tabCtrl div.is-click {
    font-weight: 600;
    z-index: 1;
    border-bottom-color: #fff;
}

#permissManage .tabCtrl-con {
    width: 16.96rem;
}
#permissManage .tabCtrl-con ul {
    width: 100%;
    height: 0.44rem;
    overflow: hidden;
    text-align: center;
    color: #999;
    border: 1px solid #ccc;
    border-bottom: none;
}
#permissManage .tabCtrl-con ul > li {
    float: left;
    line-height: 0.44rem;
    white-space: nowrap;
}
#permissManage .tabCtrl-con ul > li:nth-child(1):after,
#permissManage .tableCon ol li > p:nth-child(1):after {
    content: '.';
    width: 1px;
    font-size: 0;
}

#permissManage .tableCon {
    position: relative;
    width: 100%;
    height: 73vh;
    font-size: 0.24rem;
    border: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
}
#permissManage .logLimit .tableCon {
    height: 73vh;
}
#permissManage .tableCon ol {
    overflow: hidden;
    color: #666;
}
#permissManage .tableCon ol li {
    height: 0.59rem;
    line-height: 0.59rem;
    border-bottom: 1px solid #ccc;
}
#permissManage .tableCon ol li:hover,
#permissManage .tableCon ol li.is-active{
    background: #ececec;
}
#permissManage .tableCon ol li.is-equipError:hover{
    background: #f26455;
}
#permissManage .tableCon ol li.is-active.is-equipError{
    background: #f26455;
}

#permissManage .tableCon ol li>p {
    float: left;
    font-size: 0.16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#permissManage .tabCtrl-con ul > li:nth-child(1),
#permissManage .tableCon ol p:nth-child(1){
    width: 0.45rem;
}

/* table-col9 start */
#permissManage .table-col9 ul > li:nth-child(2),
#permissManage .table-col9 ol p:nth-child(2){
    width: 1.5rem;
}

#permissManage .table-col9 ul > li:nth-child(3),
#permissManage .table-col9 ol p:nth-child(3){
    width: 1.2rem;
}


#permissManage .table-col9 ul > li:nth-child(4),
#permissManage .table-col9 ol p:nth-child(4){
    width: 1.4rem;
}

#permissManage .table-col9 ul > li:nth-child(5),
#permissManage .table-col9 ol p:nth-child(5) {
    width: 1.6rem;
}
#permissManage .table-col9 ul > li:nth-child(6),
#permissManage .table-col9 ol p:nth-child(6){
    width: 2rem;
}

#permissManage .table-col9 ul > li:nth-child(7),
#permissManage .table-col9 ol p:nth-child(7){
    width: 1.5rem;
}
#permissManage .table-col9 ul > li:nth-child(8),
#permissManage .table-col9 ol p:nth-child(8){
    width: 2.5rem;
}
#permissManage .table-col9 ul > li:nth-child(9),
#permissManage .table-col9 ol p:nth-child(9){
    width: 2rem;
}
#permissManage .table-col9 ul > li:nth-child(10),
#permissManage .table-col9 ol p:nth-child(10){
    width: 2rem;
}
/* table-col9 end */

/* table-col4 start*/
#permissManage .table-col4 ul > li:nth-child(2),
#permissManage .table-col4 ol p:nth-child(2){
    width: 2rem;
}

#permissManage .table-col4 ul > li:nth-child(3),
#permissManage .table-col4 ol p:nth-child(3){
    width: 2.5rem;
}

#permissManage .table-col4 ul > li:nth-child(4),
#permissManage .table-col4 ol p:nth-child(4){
    width: 4rem;
}
#permissManage .table-col4 ul > li:nth-child(5),
#permissManage .table-col4 ol p:nth-child(5) {
    width: 8rem;
}
/* table-col4 end*/

/* euqipTable end */


#permissManage .checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-top: -3px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 0 2px 0 #ccc inset;
    background-color: #fff;
}
#permissManage .checkbox-checked {
    background: url("../Images/sprite.png");
    background-position: 2px 0;
    background-color: #f3f7fc;
}

