.domesticFlights, .foreignFlights {
    width: 50%;
}

/* header start */
.header {
    height: 2rem;
    overflow: hidden;
    background-color: #fff;
    color: #0f86e1;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.35);
}

.header .flights {
    width: 100%;
    margin-top: 0.35rem;
    text-align: center;
    font-size: 1.2rem;
}

/* header end */
/* main start */
.main {
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,.35);
}

/* mainCon-hd start */
.mainCon .mainCon-hd {
    width: 100%;
    height: 0.75rem;
    font-size: 0.45rem;
    font-weight: 600;
    line-height: 0.75rem;
    text-align: center;
}
.mainCon .mainCon-hd .airportNum {
    padding-left: 0.9rem;
}
.mainCon .mainCon-hd .terminal {
    padding-left: 0.14rem;
}
/* mainCon-hd end */

/* mainCon-bd start */
.mainCon .mainCon-bd {
    height: 17.5rem;
    margin: 0 0.03rem;
    overflow: hidden;
    font-size: 0.48rem;
    font-weight: 600;
    line-height: 0.48rem;
}
.mainCon-bd .row {
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}

.mainCon-bd .row:nth-child(even) {
    height: 1.7rem;
    line-height: 1.7rem;
}
.mainCon-bd .airportCompany>div {
    float: left;
}

.mainCon-bd .end-point {
    overflow:hidden;
    white-space: nowrap;
}
.mainCon-bd .airportCompany img {
    width: 0.5rem;
    height: 0.5rem;
    margin: -0.1rem 0.08rem 0 0.1rem;
    vertical-align: middle;
}
.mainCon-bd .airportCompany .airportCompany-name{
    width: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.airportName {
    text-align: left;
    padding-left: 1.16rem;
}
.checkInCounter {
    /*padding-left: 0.25rem;*/
}

.status-flag {
    width: 2.73rem;
    height: 0.68rem;
    margin-top: 0.06rem;
    margin-left: 0.35rem;
    line-height: 0.60rem;
}
.mainCon-bd .row:nth-child(even) .status-flag{
    margin-top: 0.5rem;
}
/* mainCon-bd end */
/* main end */
.foreignFlights .mainCon-bd {
    height: 6.2rem;
}
.videoDisplay {
    float: left;
    width: 100%;
    height: 10.86rem;
}
.videoDisplay img {
    width: 100%;
    height: 100%;
}
.tips {
    width: 100%;
    height: 1.4rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
}